body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1{
    color: brown;
    font-size: 50px;
}
section{
    height: 600px;
    width: 100%;
}

.top-banner{
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.half-div{
    width: 40%;
    margin-left: 40px;
    padding-left: 30px;
    float: left;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, white, red);
    font-size: 25px;
    border-radius: 8px;
    
    
}
#intro{
    margin-top: 150px;
}
.half-div img{
    width: 80%;
}
.biography{
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.latest-work{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    
}
.latest-work-demo{
    width: 28%;
    margin: 2%;
    float: left;
    
}